.profile__title{
  font-size: 42px;
  line-height: 114%;
  max-width: 544px;
}

@media screen and (max-width:1280px){
  .profile__title{
    max-width: calc(70vw - 352px);
  }
}

@media screen and (max-width:1000px){
  .profile__title{
    font-size: 32px;
  }
}

@media screen and (max-width:880px){
  .profile__title{
    max-width: calc(70vw - 202px);
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}

@media screen and (max-width:510px){
  .profile__title{
    max-width: calc(88vw - 28px);
    margin-left: 28px;
  }
}
