.element__delete-button{
    position: absolute;
    top: 18px;
    right: 15px;
    width: 18px;
    height: 20px;
    background-image: url('../../../images/delete_but.svg');
    background-position: center;
    background-size: 18px 19.3px;
    background-repeat: no-repeat;
    padding: 0;
    outline: none;
}

.element__delete-button:hover{
    opacity: .5;
  }