.page__section{
  max-width: 880px;
  width:calc(100% - 31.25%);
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 880px){
  .page__section{
    width:calc(100% - 11.875%);
  }
}
