.profile__photo-edit{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
  margin-right: 30px;
  background-position: center;
  background-size: 120px 120px;
  background-repeat: no-repeat;
}

.profile__photo-edit::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.8s;
}

.profile__photo-edit:hover::after{
  opacity: 0.8;
  background-image: url('../../../images/edit-pen.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 26px 26px;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}


@media screen and (max-width:510px){
  .profile__photo-edit{
    margin-right: 0;
    margin-bottom: 26px;
  }
}


