.profile__photo{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  margin-right: 30px;
}

@media screen and (max-width:510px){
  .profile__photo{
    margin-right: 0;
    margin-bottom: 26px;
  }
}
